@page "/board"
@attribute [Authorize]

@inject IUserService UserService
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

@* Editor role - show textarea that is editable and auto-updates *@
<div class="container-fluid">
  <h1>Web Sockets WhiteBoard</h1>
  <textarea @bind="@message" @oninput="@((EventArgs) => { SetMessage( EventArgs.Value.ToString() ); })" />
  @* <textarea value="@message" @onkeyup="UpdateValue" @onchange="Send" /> *@
</div>

@* if not the Editor, just show an output window with the text *@
<div class="container-fluid ">
  <div class="">
    <textarea @bind="@message" disabled="true" />
  </div>
</div>

@code {
  private HubConnection hubConnection;
  private string message;
  private User currentUser;


  protected override async Task OnInitializedAsync()
  {
    currentUser = AuthenticationService.User;
    Console.WriteLine(currentUser);
    hubConnection = new HubConnectionBuilder()
    .WithUrl(NavigationManager.ToAbsoluteUri("/slatehub"))
    .Build();

    hubConnection.On<string>("ReceiveMessage", (msg) =>
    {
      Console.WriteLine("RECEIVED FROM SERVER {0}", msg);
      message = msg;
      Console.WriteLine("MESSAGE UPDATED TO: {0}", message);
      StateHasChanged();
    });

    await hubConnection.StartAsync();
  }

  private async void SetMessage(string msg)
  {
    message = msg;
    await Send();
  }

  async Task Send()
  {
    Console.WriteLine("HIT SEND HANDLER {0}, by {1}", message, currentUser.Id);
    await hubConnection.SendAsync("SendMessageByUser", message, currentUser.Id);
  }

  public bool IsConnected =>
  hubConnection.State == HubConnectionState.Connected;

  public async ValueTask DisposeAsync()
  {
    await hubConnection.DisposeAsync();
  }
}
