@page "/"
@inject NavigationManager NavigationManager

<div class="container-fluid">
  <h1>Welcome To The Slate!</h1>
  <div class="container">
    <h3>Please Register a new account or Login to continue...</h3>
  </div>
  <div class="container">

  </div>
</div>